.footer-container {
  background-color: #00aaff;
  text-align: center;
  color: white;
  padding: 20px;
}

.footer-container .btn {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.footer-container .btn:hover {
  background-color: white;
  color: #00aaff;
}

.footer-container .btn:active { 
  background-color: #ffcccb; 
  color: #000; 
}
.footer-container .btn.active {
  background-color: #28a745; 
  color: #fff; 
}
